.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #ebedee;
}
input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 16px;
    float: right
}




